{% extends 'base.html' %}

{% block content %}
<h3> All Tasks </h3>
<!-- {{ tasks }} -->


<table border =1 cellpadding = 3>
<tr>
	<th>done</th><th>name</th><th>details</th><th>creator</th><th>creation date</th>
</th>
{% for t in tasks %}
 <tr> 
	<td>{% if t.isdone %}
		<!--Yes--> &#x2612;
		{% else %}
		<!--No--> &#x2610; 
		{% endif %}
	
	</td>
	<td><a href='taskdetail/{{ t.id }}/'>{{ t.name }}</a></td><td><pre>{{ t.details }}</pre></td><td>{{ t.creator }}</td><td> {{ t.creation_date }}</td>
 </tr>
{% endfor %}
</table>
{% endblock %}