<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>TODO list manager</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- override css -->
	<link rel="stylesheet" href="{% static 'todo/styles.css' %}">
</head>
<body>
{% include "header.html" %}

{% include "navbar.html" %}

{% block content %}
{% endblock %}
template text {{name}}
{% include "footer.html" %}
</body>
</html>