{% extends "base.html" %}

{% block content %}

<p> This is the content block for main.html
</p>

<h3> pages that exist </h3>
<ul>
	<li><a href = '/admin/'>admin interface</a></li>
	<li><a href = 'search/'> search page</a></li>
	<li><a href = 'showform.html'>form example</a></li>
	<li><a href = 'taskform.html'>task form</a></li>
	<li><a href = 'CBVtest'>class based view example</a></li>
	<li><a href = 'alltasks.html'>all tasks</a></li>
	<!-- login routes: login, logout, password_change, password_change/done, password_reset, password_reset/done, reset/<uidb64>/<token>, reset/done, -->
	<li><a href = 'accounts/login'>login</a></li>
	<li><a href = '{% url "accounts:logout"%}'>logout</a></li>
	<li><a href = 'accounts/password_change'>password_change</a></li>
	<li><a href = "{% url 'accounts:password_change_done' %}">password_change/done</a></li>
	<li>reset/<uidb64>/<token> - linked from the reset email</li>
	<li><a href = 'accounts/password_reset/done'>password_reset/done</a></li>
	<li><a href = 'media/test.txt'>media url test</a> </li>
</ul>
{% endblock %}