{% extends 'espbase.html' %}

{% block content %}
<a href = 'new_word2.html'>new word</a> - create a new vocabulary word <br>
<table border =1 cellpadding=4>
<tr><th>ID</th><th>espanol</th><th>english</th><th>part-of-speech</th><th>sub_date</th><th>user</th><th>remove</th><th>change</th></tr>

{% for word in vocab %}
	<tr><td>{{ word.id }}</td><td>{{ word.esp}}</td><td>{{ word.eng }}</td><td>{{ word.pos }}</td><td>{{ word.sub_date }}</td><td>{{ word.user }}</td><td><a href='/esp/delete_word/{{ word.id }}'>delete</a></td><td><a href='/esp/update_word/{{ word.id }}'>update</a></td></tr>
{% empty %}
	<h3> no words in the db</h3>
{% endfor %}

</table>
{% endblock %}